$primary: #32ceff;
$input-background: #f2f4f8;
$light: #fff;
$black: #000;

$total-text-color: #999faa;
$link-text-color: #bdbdbd;

$hover-text-color: #1087f5;

$border-color: #bcbcbc;
$search-border-color: #e8eaee;
$result-gallery-height: 800px;

$text-field-height: 60px;
$text-field-padding: 32px;
